#Header {
    display: flex;
    flex-flow: row wrap;
    color: darkcyan;
    background-color: white;
    border-radius: 30px;
    /* background-image: url('https://cdn.onlinefabricstore.com/products/LBURWHI_1.jpg?width=750'); */
    opacity: .70;
}

.navBar {
    display: grid;
    grid-template-columns: repeat(4, 300px);
}

.navLink {
    margin-top: 70px;
    margin-left: 300px;
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

#Header p {
    font-size: 1.5em;
    padding-right: 40px;
}

.logo {
    width: 13em;
    height: 13em;
    filter: brightness(3%);
}